Flow3.txt
[{"id":"bea44f79.1054c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c50e9f87.ad1fb","type":"inject","z":"bea44f79.1054c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":200,"wires":[["92b10952.b5afb8"]]},{"id":"92b10952.b5afb8","type":"function","z":"bea44f79.1054c","name":"Payload","func":"msg.headers={\n    deviceKey:\"mrD55ARcmufeawY3\"\n};\nmsg.payload=\"Temperature,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["ed2cf811.5225e8"]]},{"id":"ed2cf811.5225e8","type":"http request","z":"bea44f79.1054c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DjSSRDU5/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":240,"wires":[["e68850f4.843b7","430bb88a.ca0638"]]},{"id":"430bb88a.ca0638","type":"debug","z":"bea44f79.1054c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]},{"id":"e68850f4.843b7","type":"http response","z":"bea44f79.1054c","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]}]