flow1.txt
[{"id":"c8e91a94.0a01c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f166ae28.36c5a","type":"rpi-gpio out","z":"c8e91a94.0a01c8","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":510,"y":260,"wires":[]},{"id":"3567515.d3521ae","type":"debug","z":"c8e91a94.0a01c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":160,"wires":[]},{"id":"cdb2cb05.3f6718","type":"rpi-gpio in","z":"c8e91a94.0a01c8","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":150,"y":260,"wires":[["f166ae28.36c5a","3567515.d3521ae"]]}]